/__pycache__/
*.py[cod]

/.vscode/


/experiments/Simulated/datasets/
/experiments/Simulated/tables/
/experiments/Simulated/plots/general/
/experiments/Simulated/plots/characteristics/
/experiments/Simulated/plots/metrics/

/experiments/UCI_MLR/datasets/
/experiments/UCI_MLR/tables/
/experiments/UCI_MLR/plots/general/
/experiments/UCI_MLR/plots/characteristics/
/experiments/UCI_MLR/plots/metrics/

